.servicesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-top: 50px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.videoImageDiv {
  min-width: 590px;
  max-width: 590px;
}

.text {
  margin-left: 80px;
  margin-top: 80px;
}

.title {
  width: 450px;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .videoImageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 520px;
    max-width: 520px;
  }

  .text {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 1100px) {
  .videoImageDiv {
    padding: 30px;
    min-width: 500px;
    max-width: 500px;
  }
  .text {
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media (max-width: 950px) {
  .text {
    margin: 0px;
  }
  .videoImageDiv {
    display: none;
  }

  .content {
    width: 100%;
  }
  .title {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .services {
    width: 80vw;
  }
}
