.teamSection {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.content {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.cards {
  padding-top: 40px;
}

@media (max-width: 700px) {
  .title {
    padding: 10px 0px;
  }
}
