.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding-top: 100px;
  font-family: "DM Sans", sans-serif;
}

.title {
  margin-top: 78px;
}

.ImgDiv {
  background-size: contain;
  height: fit-content;
  width: 100%;
  border: 5px solid red;
}

.rearImgDiv {
  border: 2px solid blue;
  position: absolute;
  width: 100%;
  height: fit-content;
}

@media (max-width: 800px) {
  .title {
    margin-top: 35px;
  }
}
